
.container div{
    height: 180px;
    width: 120px;
    background-color: #302f2f;
    display: inline-block;
    border: 2px solid #383737;
    color: white;
    font-size: 100px;
    line-height: 180px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10%;
    text-align: center;

}

.container {
    width: 100%;
    height: 250px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}